<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>    
    <link rel="stylesheet" href="{{ url_for('static', filename='style/home.css') }}">

</head>
<body>
    <div id="wrapper">
    {% if not current_user.is_authenticated%}
    <div id="no_login">
        <h1>Welcome to FLASHCARDSSSS...</h1>
        <div class="links">       
            <a href="/login">LogIn</a>
            <a href="/register">Register</a>  
        </div>
    </div>
    {% endif %}
    </div>
</body>
</html>